body {
  background-color: rgb(232, 49, 49);
  color: white;
}

#form-layout {
  margin-top: 20px;
  margin-left: 50px;
}

#description {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gender {
  display: inline-block;
  margin: 3px;
}

.buttonstyle {
  display: flex;
  flex-direction: row;
  background-color: rgb(144, 31, 31);
}

.innerbutton {
  margin: 5px;
}

#table-styles{
  color:rgb(255, 255, 255) !important;
}